@keyframes change{
     from{
     Transform:skew(0deg);
   }
   to{
     Transform:skew(10deg);
   }}
   @keyframes focus {
       from{
       transform: scale(1);
       }
       to{
         transform: scale(1.3);
       }
   }

body{
 background-image: url("https://i.ibb.co/Wx6w7GJ/B-2.jpg");
 background-repeat: no-repeat;
 background-attachment:fixed;
 background-position: center;
 background-size:cover;
 background-color: #0a0318;
  height:100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header{
  height: auto;
  margin-top:20px;
}
.bx{
  box-shadow: grey  0px 0.5px 6px 0px;
/* ox-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

#logo{
width: 15%;
height: auto;
display: inline-block;
margin: auto;

}
#logo img{
  width: 180px;
  height: auto;
  animation:change 1s ease-in-out infinite alternate ;
}
/* h2{
  display:inline-block;
} */
.music-header > h2{
font-size: 1.5rem;
  display:inline-block;
margin: auto;
margin-left: 10px;
color: #D4D925;
}
.login-person-image{
  display: inline-block;
  vertical-align:top;
  margin-left: 100px;
}
.login-person-image img{
  width:60px;

height: 60px;
border-radius: 50%;
}
#bell{

  font-size: 25px;

}
.music-header{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;

width:70vw;
vertical-align:top;
}
h2+div{
display: flex;
  justify-content:space-between;
width:350px;
/* background-color: #230560; */
background: rgb(154,6,128);
background: linear-gradient(194deg, rgba(154,6,128,1) 16%, rgba(35,5,96,1) 66%);
border-radius: 10px;
margin-top: 30px;
margin-bottom: 30px;
}
.c-w{
  color:lightgrey;
}
.search-bar~i{
margin-right: 50px
}
form input{
  display: inline-block;
  background-color: transparent;
  border:none;
  height: 2rem;
color:white;
  font-family: 'Dosis', sans-serif;
 width:280px;
 margin:0 5px 0 5px;
}
input:focus {
        outline: none;
}
/* ::-webkit-input-placeholder {
      opacity: 0.5;
  } */
i{
  display: inline-block;
  margin:auto;
}
i:hover{
  color:white;
}
/* ------------------------------------------------------ */
/* showcase */
/* -------------------------------------------------------------- */
main{
  margin-top: 70px;
  height: 70vh;
  margin-left: 6%;
  width: 68vw;
  display: inline-block;
  overflow: scroll;
}
main::-webkit-scrollbar{
  visibility: hidden;
}
aside{
  overflow: scroll;
  height: 83vh;
}
aside::-webkit-scrollbar{
  visibility: hidden;
}
.section-head{
  font-size: 1.5rem;
  color: white;
  font-family: 'Dosis', sans-serif;
}
.showcase{


width:50vw;
height: 40vh;


}
.latest-release{
    width:50vw;
    margin-bottom: 60px;
}
.latest-container{
  display: grid;
  grid-template-columns: auto auto;
  gap:4px 4px;

}
.latest-container img{
  height: 100px;
  width: 100px;
}

.song-details-container{
  color:white;
  display:flex;
  font-family: 'Dosis', sans-serif;
  width:100%;
  flex-direction: row;
  justify-content: space-between;
}
.song-name{
  width:80px;
  display: inline-block;
  align-self: center;

}
.song-time{
  width: 40px;
  display: inline-block;
  order:1;
  align-self: flex-start;
  justify-self:flex-end;

}
.sflex{
  display: flex;
  gap:10px;
  flex-direction: row;
  justify-content: flex-end;

}
.c-w{
  color:white;
}
.popular-artist{
  width: 65vw;
  
}
.artist{
color: white;
text-align: center;
font-size: 1rem;
font-family: 'Dosis', sans-serif;
}
.artist img{
  height: 130px;
  width:130px;
  border-radius: 50%;
}
.artist-container{
  gap:10px;
  display: flex;
  flex-wrap: wrap;
}
.Music-theme1{
    margin-top: 0px;
  background-color: #160040;
  width: 60vw;
 
}
.theme-container{
  margin: 100px 0px 50px 0px;
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
 padding:20px 0px 20px 0px;
 
}
.theme2{
  text-align: center;
  width:32%;
  
}
.theme2 img{
width: 100%;
cursor: pointer;
/* height: auto; */
}
.theme2 p {
display:inline-block;
font-family: 'Dosis', sans-serif;
color:white;
letter-spacing: 0.4rem;
font-size: 1.3rem;
position: relative;
top: -50%;
margin: 0%;
cursor: pointer;
}
.theme2 p:hover{
  transform: scale(1.5);
}
.Music-theme2{
  width: 60vw;
  display: flex;
  /* grid-template-columns: auto auto auto; */
  gap:10px;
  /* flex-wrap: wrap; */

}
.theme{
  width:85px;
  height: 85px;
 text-align: center;
}
.theme img{
  height: inherit;
  width:inherit;
  border-radius: 50%;
  opacity: 0.79;
}
.theme p{
z-index:1;
position: relative;
top: -70%;
display:inline-block;
font-family: 'Dosis', sans-serif;
color:white;
font-size: 1.1rem;
letter-spacing: 0.1rem;
margin: 0%;
}
.theme img:hover{
background-color:rgb(219, 107, 107) ;
opacity: 0.2;
cursor: pointer;

}
.latest-english{
  width:61vw;
  margin-top: 30px;
}
.latest-hindi{
  width:61vw;
  margin-top: 60px;
}
.english-container{
  display: flex;
  flex-wrap: wrap;
  gap:12px;
}
.img-container{
  display: flex;
  flex-direction:column;
  font-family: 'Dosis', sans-serif;
  gap:10px;
cursor: pointer;
}
.a-c{
    text-align: center;
}
.img-container img{
  height: 135px;
  width: 125px;
  border-radius: 3px;
}
.c-g{
  color: grey;
}
.f-s{
  font-size: 15px;
}
.carousel{
  display: flex;
  flex-wrap: wrap;
  width: 65vw;
  height: auto;
  margin-left: -50px;
}
.carousel img{
  width:350px;
  cursor: pointer;}
  .dropbtn {

    color: white;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
  }
#nameOf{
  font-size:2rem;display:inline-block;
  margin:0;
}
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  #playBack{
    width: 25vw;
    display: inline-block;
    vertical-align: top;
    position: sticky;
  }
  .songs>div{
    display: flex;
    align-items: center;
  }
  .songs{

    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    gap:20px;
  }
  .song-detail{
    margin-left:24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:200px;

  font-family: 'Dosis', sans-serif;
  }
.song-container{
  display: flex;
justify-content:space-between;
  font-family: 'Dosis', sans-serif;
color: white;
padding:5px;
}

  .song-image{
  width:50px;
  height: 50px;
  }
.playList-header{
 display: flex;
justify-content: space-between;
color:white;
  font-family: 'Dosis', sans-serif;
  margin: 50px 0px 50px 0px;
}
.playList-header>span{
  align-self: center;
  color:rgb(154,6,128);
  font-family: sans-serif;
  font-weight: 600;
}
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */


#c1,#c3{
  z-index:-1;
}
#c1{
  margin-right: -90px;
}
#c3{
  margin-left: -90px;
}
#c3:hover {
animation:focus 1s ease-in-out  1 alternate;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
z-index:2;
}
#c2:hover {
animation:focus 1s ease-in-out  1 alternate;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
z-index:2;
}
#c1:hover {
animation:focus 1s ease-in-out  1 alternate;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
z-index:2;
}
.auto:hover{
  z-index:2;
  opacity: 0.5;
  background-color: black;
  color: white;
}
.c-t{
  color:transparent;
}
.auto{
  width: auto;
  height:auto;
  background-color: transparent;
  /* z-index:2; */

}
.f-l{
  font-size: 40px;
}
.song-container:hover{
  border: 1px solid white;
}





.container {
  position: relative;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: transparent;

}

.container:hover .overlay {
  opacity: 0.5;
  background-color:black;

}
.container:hover .fa-user{
  color: #eee;
}
.play-icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img-container  i{
  z-index: 2;
font-size: 4rem;
color: transparent;
position: absolute;
}
.img-container:hover i{
  color:rgb(34, 23, 23);
  opacity: 0.7;
 transform: translate(-180%, 65%);
}
.img-container:hover img{
   transform: scale(1.3);
}
.img-details{
  text-align: left;
}
/* .fa-user:hover {
  color: #eee;
} */
.Play_Screen{
position: sticky;
    bottom: 0;
width:100vw;
height: 60px;
background-color:rgb(26, 25, 25);
}
.Play_Screen_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Play_Image{
  height: 55px;
  padding: 0px 30px 0px 30px;
}
.Play_Image img{
  width: inherit;
  height: inherit;
}
.Play_song_details{
  height: auto;
 padding:0 15px 0 15px;
 color: white;
  font-family: 'Dosis', sans-serif;

}
/* Audio */

audio{
  height: 40px;
  width: 950px;
  border-radius: 0%;/* not working*/
  /* background-color: #0a0318; */
  
}
audio::-webkit-media-controls{
  width: inherit;
  height: inherit;

}
audio::-webkit-media-controls-enclosure {
  
  background-color:transparent;
 
}
